/* Typography and Color Scheme */
:root {
    --primary-color: #2a9d8f;  /* Dark green */
    --secondary-color: #124d2d; /* Sand yellow */
    --accent-color: #264653;    /* Navy blue */
    --text-color: #333;
    --bg-light: #f8f9fa;
  }
  .primary-color{color: #2a9d8f; }/* Dark green */
  .secondary-color{color: #124d2d;} /* Sand yellow */
  .accent-color{color: #264653;    }/* Navy blue */
  .text-color{color: #333;}
  .bg-light{color: #f8f9fa;}


.parkinsans {
  font-family: "Parkinsans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}
  body {
    background-color: var(--bg-light);
    color: var(--text-color);
  }
  
  h1, h2 {
    color: var(--primary-color);
  }
  
  .navbar {
    background-color: #f0eee2;
  }
  .navbar-brand {
    font-weight: bold;
  }
  
  .nav-link {
    color: #124d2d ;
    transition: color 0.3s;
  }
  
  .nav-link:hover {
    color: var(--secondary-color) !important;
  }
  
  /* Hero Section */
  .hero {
    /* background: url('./images/FullTeamPhoto.jpg') no-repeat center center/cover; */
    background: #f0eee2;
    height: 60vh;
    display: flex;
    align-items: center;
    justify-content: center;
  }  
  .hero-ardencote {
    background: url('./images/FullTeamPhoto.jpg') no-repeat center center/cover;
    height: 60vh;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .hero-rules {
    background: #204f18;
    height: 30vh;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .hero h1 {
    color: var(--secondary-color);
    font-size: 3rem;
    font-weight: 700;
  }
  
  .hero .btn {
    background-color: var(--primary-color);
    color: #fff;
    transition: transform 0.3s ease;
  }
  
  .hero .btn:hover {
    background-color: var(--secondary-color);
    transform: scale(1.05);
  }
  .boxShadow{
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
  }
  .boxShadow2{
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  }
  /* About Section */
  .about {
    padding: 2rem;
  }
  
  .about h2 {
    color: var(--accent-color);
    margin-bottom: 1rem;
  }
  
  .about p {
    font-size: 1.1rem;
    color: var(--text-color);
  }
  
.carousel-item{
    max-height: 40vh;
}

.card-winner {
    position: relative;
    width: 320px;
    height: 420px;
    background-size: cover;
    background-position: center;
    border-radius: 12px;
    overflow: hidden;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.card-winner-solo {
    background-image: url('./images/SoloWinner3.jpg'); /* Random placeholder image */
}
.card-winner-team {
    background-image: url('./images/TeamWinners.jpg'); /* Random placeholder image */
}
.card-winner-worst {
    background-image: url('./images/ShittestGolferPic.jpg'); /* Random placeholder image */
}


.card-winner-banner {
  position: absolute;
  bottom: 20px;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  color: #fff;
  font-size: 1.25rem;
  text-align: center;
  font-weight: bold;
  padding: 10px 0;
  text-transform: uppercase;
  border-top: 2px solid #ffd700;
  border-radius: 0 0 12px 12px;
}

.width-fit-content{
    width: fit-content;
}
.iconHeight{
    height: calc(1.3rem + .6vw);
}
.imageCollection{
    object-fit: scale-down;
    max-height:500px
}

.ardencoteHeader{
    font-size: 4rem !important;
    text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;  
}
.beltonHeader{

}
.halfWord{
  text-shadow: none;
}

.hero-hall-of-fame{
background-color:#bda443;
height: 30vh;
display: flex;
align-items: center;
justify-content: center;
}
.goldColour{
  color: #cfb631;
}

.hero-belton{
  height: 30vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgb(0,0,0);
  background: linear-gradient(90deg, rgba(0,0,0,1) 50%, rgba(255,255,255,1) 50%);text-shadow:
-1px -1px 0 #000,
1px -1px 0 #000,
-1px 1px 0 #000,
1px 1px 0 #000;  
}
.threeRem{
  font-size: 3rem !important;
}
.fourRem{
  font-size: 4rem !important;
}
.fiveRem{
  font-size: 5rem !important;
}


.sr-only {
  position: absolute;
  top: -30em;
}

table.sortable td,
table.sortable th {
  padding: 0.125em 0.25em;
  width: 8em;
}

table.sortable th {
  font-weight: bold;
  border-bottom: thin solid #888;
  position: relative;
}

table.sortable th.no-sort {
  padding-top: 0.35em;
}

table.sortable th:nth-child(5) {
  width: 10em;
}

table.sortable th button {
  padding: 4px;
  margin: 1px;
  font-size: 100%;
  font-weight: bold;
  background: transparent;
  border: none;
  display: inline;
  right: 0;
  left: 0;
  top: 0;
  bottom: 0;
  width: 100%;
  text-align: left;
  outline: none;
  cursor: pointer;
}

table.sortable th button span {
  position: absolute;
  right: 4px;
}

table.sortable th[aria-sort="descending"] span::after {
  content: "▼";
  color: currentcolor;
  font-size: 100%;
  top: 0;
}

table.sortable th[aria-sort="ascending"] span::after {
  content: "▲";
  color: currentcolor;
  font-size: 100%;
  top: 0;
}

table.show-unsorted-icon th:not([aria-sort]) button span::after {
  content: "♢";
  color: currentcolor;
  font-size: 100%;
  position: relative;
  top: -3px;
  left: -4px;
}

table.sortable td.num {
  text-align: right;
}

table.sortable tbody tr:nth-child(odd) {
  background-color: #ddd;
}

/* Focus and hover styling */

table.sortable th button:focus,
table.sortable th button:hover {
  padding: 2px;
  border: 2px solid currentcolor;
  background-color: #e5f4ff;
}

table.sortable th button:focus span,
table.sortable th button:hover span {
  right: 2px;
}

table.sortable th:not([aria-sort]) button:focus span::after,
table.sortable th:not([aria-sort]) button:hover span::after {
  content: "▼";
  color: currentcolor;
  font-size: 100%;
  top: 0;
}


.container2 {
  max-width: 1050px;
  width: 90%;
  margin: auto;
}

.navbar2 {
  width: 100%;
  z-index: 999;
}

.nav-container2 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 62px;
}

.navbar2 .menu-items {
  display: flex;
}

.navbar2 .nav-container2 li {
  list-style: none;
}

.navbar2 .nav-container2 a {
  text-decoration: none;
  color: #0e2431;
  font-weight: 500;
  font-size: 1.2rem;
  padding: 0.7rem;
}

.navbar2 .nav-container2 a:hover{
    font-weight: bolder;
}

.nav-container2 {
  display: block;
  position: relative;
  height: 60px;
}

.nav-container2 .checkbox {
  position: absolute;
  display: block;
  height: 32px;
  width: 32px;
  top: 20px;
  left: 20px;
  z-index: 5;
  opacity: 0;
  cursor: pointer;
}

.nav-container2 .hamburger-lines {
  display: block;
  height: 26px;
  width: 32px;
  position: absolute;
  top: 17px;
  left: 20px;
  z-index: 2;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.nav-container2 .hamburger-lines .line {
  display: block;
  height: 4px;
  width: 100%;
  border-radius: 10px;
  background: #0e2431;
}

.nav-container2 .hamburger-lines .line1 {
  transform-origin: 0% 0%;
  transition: transform 0.4s ease-in-out;
}

.nav-container2 .hamburger-lines .line2 {
  transition: transform 0.2s ease-in-out;
}

.nav-container2 .hamburger-lines .line3 {
  transform-origin: 0% 100%;
  transition: transform 0.4s ease-in-out;
}

.navbar2 .menu-items2 {
  padding-top: 120px;
  box-shadow: inset 0 0 2000px rgba(255, 255, 255, .5);
  height: 100vh;
  width: 100%;
  transform: translate(-150%);
  display: flex;
  flex-direction: column;
  margin-left: -40px;
  padding-left: 50px;
  transition: transform 0.5s ease-in-out;
  text-align: center;
}

.navbar2 .menu-items2 li {
  margin-bottom: 1.2rem;
  font-size: 1.5rem;
  font-weight: 500;
}

.logo {
  position: absolute;
  top: 5px;
  right: 15px;
  font-size: 1.2rem;
  color: #0e2431;
}

.nav-container2 input[type="checkbox"]:checked ~ .menu-items2 {
  transform: translateX(0);
}

.nav-container2 input[type="checkbox"]:checked ~ .hamburger-lines .line1 {
  transform: rotate(45deg);
}

.nav-container2 input[type="checkbox"]:checked ~ .hamburger-lines .line2 {
  transform: scaleY(0);
}

.nav-container2 input[type="checkbox"]:checked ~ .hamburger-lines .line3 {
  transform: rotate(-45deg);
}

.nav-container2 input[type="checkbox"]:checked ~ .logo{
  display: none;
}
